<h2>{{action}} {{car.title}}</h2>
<form class="form-horizontal">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" value="{{car.title}}" >
        </div>
        <div class="form-group">
            <label>Mileage</label>
            <input class="form-control" value="{{car.mileage}}" >
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" value="{{car.price}}" >
        </div>
        <div class="form-group">
            <label>Year</label>
            <input class="form-control" value="{{car.year}}" >
        </div>
    <button class="btn btn-primary btn-lg" ng-click="updcar()">{{action}}</button>
</form>
